<iframe plausible-embed src="<%= ENV.fetch("ADMIN_IFRAME_URL", nil) %>" scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"></iframe>
<div style="font-size: 14px; padding-bottom: 14px;">Stats powered by <a target="_blank" style="color: #4F46E5; text-decoration: underline;" href="https://plausible.io">Plausible Analytics</a></div>
<script async src="https://analytics.saas.pokecode.net/js/embed.host.js"></script>
