<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <%= link_to(
      t("gpc.donate"),
      donate_link(model),
      class: "card__button button button--sc small warning expanded"
    ) %>
  </div>
</div>
