// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

.wrapper {
	&.watch_race {
		padding:0;
	}
	.watch_race-iframe {
		margin:0 auto;
	 iframe {
	 	display:block;
	 	margin:auto
	 }
	}
}

#watchRaceIframe {
	width: 1px;
  min-width: 100%;
  min-height: 2500px;
}

.main-nav {
	.main-nav__link {
		a[href="/watch_race"] {
			padding-left: 1em;
			img {
				margin: 0 1em 0 0.6em;
				height: 1em;
			}
		}
	}
}
