<li class="card-data__item">
  <div>
    <strong>
      <%= l start_date, format: :decidim_with_month_name %>
    </strong>
    &nbsp;·&nbsp;
    <%= gpc_time_format(model.start_time) %> – <%= gpc_time_format(model.end_time) %>
    <%= gpc_time_zone model.start_time %>
  </div>
</li>
